# Arkham's golang .gitignore
# https://arkhamcookie.com

## secrets
.env*
!.env.example
!test.env

## golang
*.test
*.sum

## cache
.trash
.DS_Store
*.bak

## output
out/

### builds
go-statuslog
sl

## configs
.vscode
.idea
.vim
